body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap; 
}

article {
  flex: 3 1 0; /*MSSV: 23521478 Câu 3.4*/
  min-width: 220px; 
}

nav {
  background-color: #000;
  padding: 0.5em;
  position: sticky; /*MSSV: 23521478 Câu 3.2*/
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between; /*MSSV: 23521478 Câu 3.1*/
  /*gap: 20px; --> cách này khá đơn giản, tuy nhiên phải canh từng vị trí chính xác cho đến khi lập trình viên mong muốn*/
  /*justify-content: space-around; --> cách này sẽ tạo khoảng cách đều nhau giữa các phần tử, tuy nhiên khoảng cách 2 bên sẽ không đều so với các phần tử ở giữa*/

  /*Cách 2: Chia ra làm 5 cột đều nhau 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px; */

}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid; /*MSSV: 23521478 Câu 3.5*/
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}

.feature {
  width: 200px;
  float: left; /*MSSV 23521478 Câu 3.3*/
  margin-right: 20px;
}

aside {
  flex: 1 1 220px;
  min-width: 180px;
}